{% extends 'layout.html' %}
{% block body %}

    <br>
    <br>
    <h1>About Us</h1>
    <br>
    <br>
    <p>This is EOZ online shop, we sell products. Please register a account if you haven't! After you registered successfully, You can enjoy our online services, including to order our products!</p>
    <br>
    <h3>Where are we?</h3>  
    <iframe src="https://www.google.com/maps/d/embed?mid=1P49Ec-rR2cqLPMXsI4nkmqc0yYk" width="1100" height="500"></iframe>
    <hr class="clearfix w-100 d-md-none pb-3">
    <br><br>
    <h3>How to Get There?</h3>
    <p>Just get into the MTR station and find Exit C2, which leads to the Festival Walk shopping centre. Go up to Level LG1 and find the escalator next to Shop LG1-10, which will take you to one end of the CityU underpass. When you emerge from the underpass, CityU's main entrance is right in front of you.</p>

{% endblock %}