{% extends 'layout.html' %}
{% block body %}
<style>
</style>
<br>
<br>
<div class="container">
    <a href="/register">No Account? Register Now</a>
    <br>
    <form class="form-signin" method="POST" action="">
        {% from "includes/_formhelpers.html" import render_field %}
        <h2 class="form-signin-heading">Log in</h2>
        <div class="form-group">
            {{render_field (form.username, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field (form.password, class="form-control")}}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        
    </form>
</div>
{% endblock %}