{% extends 'layout.html' %}
{% block body %}
<br>
<br>
<div class="col-sm-12">
    <div class="card">
        <img src="/static/images/1p.png" alt="product001" width="350" height="350" class="card-img-left zoom">
        <div class="card-body text-right">
            <h5 class="card-title">product001</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, corporis quod enim doloremque qui asperiores</p>
            <p class="card-text">Products are now Available in our store!</p>
            <a href="/cart" class="btn btn-primary">Click to buy</a>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
