{% extends 'layout.html' %}
{% block body %}
<style>
    table, th, td {
          border: 1px solid black;
          font-family: 'Roboto';
          font-style: normal;"
    }
    table {
        width: 100%;
    }
</style>

    <br>
    <br>
    <h1 style="font-family: 'Roboto';
    font-style: bold;">Shipment Details</h1>
    <h3 style="font-family: 'Roboto';
    font-style: bold;">Ship no.:  {{cartDetails[0]['cartid']}}</h3>
    <h3 style="font-family: 'Roboto';
    font-style: bold;">Billing address:  {{cartDetails[0]['address']}}</h3>
    <table>
      <tr>
          <th></th>
          <th>Product Price</th>
          <th>Quantity</th>
      </tr>
      <tr>
          <td><img src="/static/images/1p.png">Frying Pan</td>
          <td>$149.9</td>
          <td>{{cartDetails[0]['qty_1']}}</td>
      </tr>
      <tr>
          <td><img src="/static/images/2p.png">TOFTBYN</td>
          <td>$749</td>
          <td>{{cartDetails[0]['qty_2']}}</td>
      </tr>
      <tr>
          <td><img src="/static/images/3p.png">LAPPNYCKLAR</td>
          <td>$329.9</td>
          <td>{{cartDetails[0]['qty_3']}}</td>
      </tr>
      <tr>
        <td><b>Total:</b>
        <td><b>${{cartDetails[0]['total']}}</b></td>
        <td></td>
      </table>

{% endblock %}