{% extends 'layout.html' %}
{% block body %}

    <br>
    <br>
    <div class="container-fluid" style="position: absolute;
    width: 1573px;
    left: 76px;
    top: 18.13%;
    bottom: 22.02%;
    
    background: #FFFFFF;">
        <p style="position: absolute;
        width: 361px;
        height: 59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        /* identical to box height */
        
        color: #000000;">
        Checkout Successful</p>
        <img src="/static/images/success.png" style="position: absolute;
        width: 100px;
        height: 100px;
        margin-left: 300px;
        margin-top: 20px;
        
        background: transparent;"></img>
        <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>    
        <a href="/ship_details">Click here to see shipment details</a>
    </div>
    <br>
    <br>    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>
    {% endblock %}